/.idea/
/target/
/test-output/
/.DS_Store/
/src/test/.DS_Store
/src/test/java/.DS_Store
/screenshot/myAppiumLog.txt
/src/test/java/Reports/iOS Just For Testing /
/src/test/java/Reports/junitreports/
/src/test/java/Reports/old/
/src/test/java/Reports/bullet_point.png
/src/test/java/Reports/collapseall.gif
/src/test/java/Reports/emailable-report.html
/src/test/java/Reports/failed.png
/src/test/java/Reports/index.html
/src/test/java/Reports/jquery-3.4.1.min.js
/src/test/java/Reports/navigator-bullet.png
/src/test/java/Reports/passed.png
/src/test/java/Reports/skipped.png
/src/test/java/Reports/testng.css
/src/test/java/Reports/testng-failed.xml
/src/test/java/Reports/testng-reports.css
/src/test/java/Reports/testng-reports.js
/src/test/java/Reports/testng-results.xml
/src/test/java/Reports/junitreports/
/src/test/java/Reports/old/
